.img-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  img {
    width: 48px;
    height: 48px;
    border-radius: 20px;
    cursor: pointer;
  }
}

.emoji-wrap {
  margin-bottom: 20px;
}
