.wrapper {
  width: 100%;
  .container {
    width: 100%;
    :global(.user-card_history-row) {
      width: 100% !important;
    }
    :global(.custom-card .user-card_last-text) {
      height: max-content !important;
      white-space: nowrap !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
    }
  }
  .loader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .load {
      width: 50px;
      height: 50px;
      object-fit: cover;
    }
  }
}
