.wrapper {
  width: 100%;
  max-width: 100%;
  height: calc(100vh - 232px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }
  :global(.icon_wrapper) {
    color: var(--color-white) !important;
  }
  .chat-message {
    font-size: 20px;
    height: 100px;
  }
}
