.wrapper {
  width: 100%;
  background: var(--color-black-7);
  .container {
    max-width: 1440px;
    width: 100%;
    padding: 12px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    .left {
      width: 380px;
      min-width: 380px;
      height: 100%;
      border-radius: 20px;
      background: var(--color-black-8);
      padding: 20px;
      box-sizing: border-box;
    }
    .right {
      width: 100%;
      height: 100%;
      border-radius: 20px 20px 0 0 !important;
      box-sizing: border-box;
      overflow: hidden;
    }
  }
}
