.wrapper {
  width: 100%;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 8px 16px;
    border: none;
    background: transparent;
    border-radius: 24px;
    box-sizing: border-box;
    position: relative;
    transition: all 0.3s linear;
    background: rgba(215, 237, 237, 0.08);
    span {
      color: var(--color-black-1);
      text-align: center;
      font-family: Plus Jakarta Sans, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0.15px;
    }
    .row {
      display: flex;
      align-items: center;
      gap: 16px;
    }
    .keyboard {
      box-sizing: border-box;
      border-radius: 4px;
      overflow: hidden;
      border: 1px solid rgba(255, 255, 255, 0.16);
      background: linear-gradient(145deg, rgba(215, 237, 237, 0.16) 0%, rgba(204, 235, 235, 0) 100%);
      box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.05), 1px 1px 2px -1px rgba(0, 0, 0, 0.05);
      color: var(--color-black-3);
      text-align: center;
      font-family: Inter, sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px;
      letter-spacing: 0.15px;
      padding: 4px 8px;
    }
    &:hover {
      background: rgba(215, 237, 237, 0.18);
      &::before {
        opacity: 1;
      }
    }
  }
}

.search-list {
  margin-top: 20px;
  width: 100%;
  color: var(--color-white);
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .lists {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

  @keyframes scale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }

  .loader {
    left: calc(50% - 50px);
    background-color: rgba(100, 6, 6, 1);
    position: absolute;
    border: 5px solid black;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: scale 4s infinite ease;
    .sharingan {
      position: relative;

      height: 50px;
      width: 50px;
      animation: loader 2s infinite ease;

      .full_pupille {
        .pupille {
          fill: black;
        }
        .iris {
          stroke-width: 8px;
          stroke: rgba(60, 6, 6, 0.75);
          fill: rgba(60, 6, 6, 0.9);
        }
        .irisanomalie {
          fill: black;
          font-size: 100px;
          font-family: 'Redressed', cursive, sans-serif;
        }
      }
    }
  }
}
