.wrapper {
  display: block;
  display: grid;
  width: 100%;
  background: var(--color-black-7);
  min-height: 100vh;
  .container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    gap: 48px;
    .left {
      width: 100%;
      padding: 48px 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      .content-body {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        &.verification {
          max-width: 500px;
          width: 100%;
          margin: 0 auto;
        }
        .card {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
          gap: 24px;
        }
        .card-check {
          color: var(--color-black-5);
          display: flex;
          align-items: center;
          gap: 12px;
          height: 100%;
          margin-top: 15px;
          .text {
            display: flex;
            align-items: center;
            gap: 4px;
          }
        }
      }
    }
    .right {
      width: 100%;
      height: 100%;
      .right-image {
        border-radius: 24px;
        object-fit: cover;
        width: 100%;
        height: 100vh;
      }
    }
    @media screen and (max-width: 1500px) {
      padding: 0 0 0 30px;
    }
    @media screen and (max-width: 1200px) {
      padding: 0 0 0 10px;
      .left {
        padding: 20px 20px 20px 10px;
      }
    }
    @media screen and (max-width: 960px) {
      grid-template-columns: repeat(1, 1fr);
      padding: 10px 10px;
      gap: 24px;
      .right {
        display: none;
        grid-row: 1 / 2;
        background-size: cover;
        border-radius: 0;
        height: 250px;
        .right-image {
          object-fit: cover;
          width: 100%;
        }
      }
      .left {
        gap: 40px;
        padding: 0;
        .content-body {
          .card {
            gap: 18px;
          }
        }
        .card-check {
          margin: 0 !important;
        }
      }
    }
  }
}
